<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}

    <h1 class="site-title">{{ .Site.Title }}</h1>
    <h1 class="site-description">{{ .Site.Params.description }}</h1>
    <hr />
    
    {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}
</header>